@import "../../../styles/commonStyleVar/colors";
@import "../../../styles/mixins/common_mixins";
@import "../../../styles/commonStyleVar/marginsPadding";


.nav_container{
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 $large ;

    &__ctg{
        @include flexVertical;

        & button{
            border-radius: 5px;
            padding: 10px 14px;
            margin-right: 10px;
            white-space: nowrap;
            font-weight: 700;
        }
    }

    &__links{
        width: 100%;
        @include flexVertical;
        
        &__link{
            padding: 20px;
            font-weight: 700;
            &:hover{
                background-color: $bg_linkHover;
            }
        }
        &__active{
            background-color: $bg_linkActive;
            color: $color_linkActive;
        }
    }

    &__contact{
        @include flexCenter;

        &__contactInfo{
            margin-left: 10px;
            & h3{
                margin: 0;
                white-space: nowrap;
            }
            & p{
                margin: 0;
            }
        }
    }
}

